@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
* {
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  height: auto;
  background-color: rgb(232, 232, 232);
}
.nav a {
  text-decoration: none;
}
.nav a p {
  color: black;
  font-size: 2.5rem;
  font-family: "Ms Madi", cursive;
}
@media (min-width: 280px) and (max-width: 390px) {
  .nav a p {
    font-size: 2rem;
  }
}
@media (min-width: 200px) and (max-width: 280px) {
  .nav a p {
    font-size: 1.5rem;
  }
}
.nav ul li a {
  margin: 15px;
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  font-weight: bold;
}
.nav ul li a:hover {
  color: black;
  font-weight: 600px;
  background-size: 100% 2px;
}

.text_curso {
  width: 200px;
}

.header {
  width: 100%;
  height: 33rem;
  background-image: url(../img/hero.jpg);
  background-size: cover;
}
.header_contenido {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 33rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  color: rgb(232, 232, 232);
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

main h2, main h3 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 60px;
  padding: 10px;
  background-color: rgb(232, 232, 232);
  border-radius: 5px;
}
main img {
  margin-top: 20px;
  margin-bottom: 20px;
}
main section article {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section article p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  text-align: center;
  margin: 5px;
}

form {
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin-left: 50px;
  margin-right: 40px;
}

.form-horizontal {
  width: 100%;
  height: auto;
}
.form-horizontal h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.btn-primary {
  width: 30%;
  font-weight: bold;
}

.footer {
  width: 100%;
  height: auto;
  background-color: rgb(232, 232, 232);
  margin-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__item {
  margin: 10px;
}
.footer h4 {
  margin: 5px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.main__sobre-mí p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.main_card {
  margin: 20px;
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.main_servicios p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.main_video {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 70vh;
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.4);
}

.video {
  width: 215vh;
  height: 80vh;
  align-content: center;
}