main{
    h2,h3{
        font-size: 1.2rem;
        font-family:$font-roboto;
        text-align: center;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom:60px;
        padding: 10px;
        background-color:$colorBase;
        border-radius: 5px;
    }
    img{
        margin-top:20px;
        margin-bottom:20px;
    }
    section{
        article{
            @include flex(flex,center,center);
            p{
                font-family: $font-roboto;
                font-size: 0.9rem;
                text-align: center;
                margin: 5px;
            }
        }
    }
}
form{
    box-shadow: 0 0 40px 1px rgba(0,0,0,0.4);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin-left: 50px;
    margin-right: 40px;
}
.form-horizontal{
    width: 100%;
    height: auto;
    h3{
        text-align: center;
        font-family: $font-roboto;
        font-weight: bold;
    }
}
.btn-primary{
    width: 30%;
    font-weight: bold;
}