.main_video{
    margin-top:50px;
    margin-bottom: 50px;
    width: 100%;
    height: 70vh;
    box-shadow: 0 0 40px 1px rgba(0,0,0,0.4);
}
.video{
    width:215vh;
    height:80vh;
    align-content:center;
}