.footer{
    width: 100%;
    height: auto;
    background-color: $colorBase;
    margin-top: 40px;
    text-align: center;
    @include center(flex,center,center);
    &__item{
        margin: 10px;
    }
    h4{
        margin: 5px;
        font-size: 1rem;
        font-family: $font-roboto;
        font-weight: bold;
    }
}
