
.header{
    width: 100%;
    height:33rem;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    &_contenido{
        background-color: rgb( 0 0 0 / 60%);
        width: 100%;
        height:33rem;
        @include center(flex,center,center);
    }
    h1{
        color: $colorBase;
        font-family:$font-roboto;
        font-size: 2.5rem;
        text-align: center;
    }
}
